<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reports</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>    
    <header class="page-header">
        <h1>Reports</h1>
        <a href="/new" class="create-report-button">+ Create a New Report</a>
    </header>
    <br/><br/>
    
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Consultant</th>
                <th>Customer</th>
                <th>Overall Score</th>
                <th>Last Updated</th>
                <th>Interact</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="report : ${reports}">
                
                <td th:text="${report.id}">Consultant Name</td>
                <td th:text="${report.consultant}">Consultant Name</td>

                <td th:text="${report.customer}">Score</td>

                
                <td th:text="${report.overallScore}">Score</td>

                
                <td th:text="${report.lastUpdatedDate}">2025-08-28</td>

                <td>
                    <a th:href="@{/edit/{id}(id=${report.id})}">Edit</a>
                    <a th:href="@{/report/{id}(id=${report.id})}">View</a>
                </td>


            </tr>
        </tbody>
    </table>
</body>
</html>