.page-header {
    display: flex;       
    align-items: center;   
    margin-bottom: 30px;  
}

.card {
    background-color: white;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
}



.create-report-button {
    margin-left: auto; 
    background: linear-gradient(90deg,rgba(153, 242, 235, 1) 0%, rgba(0, 222, 206, 1) 100%);
    border-radius: 8px;
    color: black;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.create-report-button:hover {
    background: linear-gradient(90deg,rgba(0, 222, 206, 1) 0%, rgba(0, 200, 185, 1) 100%);
    color: white;
    cursor: pointer;
}

/* General Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    color: #333;
}

/* Table Header Styling */
thead th {
    text-align: left;
    padding: 12px 8px;
    color: #6c757d; 
    border-bottom: 2px solid #dee2e6; 
    font-weight: 600;
}

/* Table Body Cell */
tbody td {
    padding: 16px 8px; 
    border-bottom: 1px solid #dee2e6;
}

tbody tr:last-child td {
    border-bottom: none;
}

/* Interactions */
td a {
    color: #007bff;
    text-decoration: none; 
    margin-right: 12px; 
    font-weight: 500;
}

/* Hover underline */
td a:hover {
    text-decoration: underline; 
}

/* Fonts */
@font-face {
  font-family: 'Almarena Neue';
  src: url('/fonts/almarenaneue-regular.otf');
}   

body {
    font-family: Helvetica, Arial, sans-serif; 
    background-color: #f8f9fa;
    color: #212529;
    margin: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Almarena Neue', sans-serif; 
}